 body {
     margin: 0 auto;
     padding: 0px;
     width: 100%;
     height: 100%;
     background-image: url(adult-blur-camera-368893.jpg);
     background-size: cover;
     background-attachment: fixed;
 }

 .logo {
     width: 90px;
     padding: 0;
     margin-left: 75px;
     margin-top: 2px;
 }

 .hulk {
     position: fixed;
     left: 0;
     top: 0;
     color: transparent;
     background: black;
     width: 100%;
     height: 6rem;
     line-height: 6rem;
     transform: translateY(0);
     transform: translate3d(0, 0, 0);
     backface-visibility: hidden;
     transition: .25s transform;

 }

 .hulk h1 {
     float: left;
     font-size: 1.4rem;
     margin: 0 0 0 2rem;
     text-transform: uppercase;
 }

 .hulk nav {
     float: right;
     font-size: 1.4rem;

 }

 .hulk nav ul {
     margin: 0;
     padding: 0;
 }

 .hulk nav li {
     display: inline-block;
     padding: 0 2rem;
     border-left: .1rem solid #cda43b;
     cursor: pointer;
     text-decoration: inherit;

 }

 .hulk nav li:hover {
     background: #6a8c8c;
 }

 .hulk nav a {
     text-decoration: none;
     color: wheat;
 }

 section {
     padding: 6rem 10rem;
     color: white;
     line-height: 1.5;
 }

 footer {
     position: fixed;
     width: 100%;
     bottom: 0;
     left: 0;
     text-align: center;
     color: wheat;
     background: black;
     padding: 1rem 0;

 }

 .gallery {
     color: whitesmoke;
     background-color: black;
 }

 .jumbotron ol {
     list-style: square;
 }

 .jumbotron h3 {
     font-weight: normal;
 }

 span {
     font-weight: bold;
 }

 section h2 {
     color: dodgerblue;
     text-align: center;
 }

 .container {
     margin: 0 auto;
 }

 .carousel-inner {
     height: 590px;
 }
